@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&family=Comic+Relief:wght@400;700&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #222222;
}
.alan {
  font-family: "Alan Sans", sans-serif;
}


.custom-shadow{
    border: 1px solid #ff6d1f63;
    box-shadow: 0 0 20px;
}